<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>

<table width="100%" style="margin-top: 200px; padding-right:50px; padding-left: 50px;">
    <tr>
        <td ><b>ID</b></td>
        <td ><b>Task</b></td>
        <td ><b>Email</b></td>
        <td ><b>Priority</b></td>
    </tr>
    {% for task in todo_list: %}
    <tr>
        <td >{{ task[0] }}</td>
        <td >{{ task[1] }}</td>
        <td >{{ task[2] }}</td>
        <td >{{ task[3] }}</td>
        <td >
            <form action="/remove?id={{ task[0] }}" width="100%" method="post">
                <input type="submit" value="Delete">
        </form>
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<br>

<form action="/submit" width="100%" method="post">
    <div>
  <label>Task:</label>

           <input type="text" name="task">
        </div>
            
            <div> 
                <p style="color:red"><strong>{{ error }}</strong></p> 
            <label>Email:</label>
          <input type="text" name="email">
        </div>
<div>
          <label>Priority:</label> 
                <select name="priority">
                    <option value="High" selected>High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
            </div>
   <div>
           <input type="submit" value="Submit">
   
            <a href="/clear">Clear List</a>
        </div>


</form>


</body>
</html>